node_modules
bin
build
env/*
coverage/*
typechain/**
coverage.json
artifacts/
cache/
yarn.lock
coverage/
coverage.json
.env
*.code-workspace
package-lock.json
.history
.vscode
typechain/
data/
contracts/.flattened
.DS_Store